@charset "utf-8";
/*
   
   Project: MeetUp Douglas 
   Author: Jonnalyn Sule
   Date:   Nov 6, 2022

   Desktop Styles: Default layout. Screen from 769px and greater
   Filename: BaseLayout1.css
   
*/
/* Background Image Layout */
.bg-img {
    /* background-image: url("../images/julianunsplash.jpg"); */
    height: 100%;
    /* background-position: center; */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    position: relative;
}

/* Top Menu Navigation */
.navbar {
    display: flex;
    background-color:#C9E265;
}

.navbar ul {
    display: flex;
}

.navbar ul li {
    display: inline-block;
}

/* .navbar ul li a {
    display: inline-flex;
} */

.navbar ul li a img {
    width: auto;
    max-height: 60px ;
}
/* Footer Style */
footer {
    /* padding-bottom: 20px; */
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
}

  