@charset "utf-8";
/*
   
   Project: MeetUp Douglas 
   Author: Jonnalyn Sule
   Date:   Nov 6, 2022

   Desktop Styles: Default layout. Screen from 769px and greater
   Filename: BaseLayout2.css

*/

/* Top Menu Navigation */
.navbar {
    display: flex;
}
.navbar ul {
    display: flex;
}

.navbar ul li {
    display: inline-block;
}

.navbar ul li a {
    display: inline-flex;
}

.navbar ul li a img {
    width: auto;
    max-height: 70px ;
}

/* Footer Style */
footer {
    padding-bottom: 20px;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
}

  