@charset "utf-8";
/*
   
   Project: MeetUp Douglas 
   Author: Jonnalyn Sule
   Date:   Nov 6, 2022

   Adjustment Form Layout
   Filename: formStyle.css
   
*/

/* Form Layout Styles */
/* Form Layout Styles */
form#signupform, form#grppageform , form#eventpageform{
  padding: 30px 20px;
  width: 40%;
  height: 100%;
  margin:auto;

}

form#loginform {
  width:30%;
  position: absolute;
  margin: 30px;
  min-height: 380px;
  padding: 30px 20px;
  background-color: rgba(255, 255, 255, 0.815);
  border-radius: 20px;
  box-shadow: 5px 5px #88888853;
}

fieldset {
  padding: 20px;
  margin: 10px 0px;
  border: none;
}

.formRow {
  display: flex;
  flex-flow: column wrap;
  margin: 10px 0px;
}

/* Form Button Styles */
#loginBtn,buttons {
  background-color: #C9E265;
  border-radius: 5px;
  font-size: 1.5em;
  outline: none;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 92%;
  opacity: 0.9;
}

#loginBtn:hover, buttons:hover {
  background-color: #9bac55;
}

input[type='submit']{
  font-size: 1em;
  padding: 5px;
  margin: 15px;
}

/* Validation Styles */
input:focus, select:focus, textarea:focus {
  background-color: #9a9b94;
}

input#user:focus:valid,
input#email:focus:valid,
input#password:focus:valid,
input#studentid:focus:valid,
input#mobilenum:focus:valid {
  background: rgb(220, 255, 220) url("static/images/valid.png") bottom
  right/contain no-repeat;
}

input#user:focus:invalid,
input#email:focus:invalid,
input#password:focus:invalid,
input#studentid:focus:invalid,
input#mobilenum:focus:invalid {
  background: rgb(255, 232, 233) url("static/images/invalid.png") bottom
  right/contain no-repeat;
}