@charset "utf-8";
/*
   Project: MeetUp Douglas 
   Author: Jonnalyn Sule
   Date:   Nov 6, 2022

   Desktop Styles: Default layout. Screen from 769px and greater
   Filename: generalStyle.css

*/
/* HTML and Body styles */


body, html {
    height: 100%;
    font-family: 'Gill Sans', 'Gi ll Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h2 {
    font-family: 'Josefin Sans';
    font-style: italic;
    font-size: 1.8em;
}

/* Top Menu Navigation */
.navbar {
    background-color:#C9E265;
}

.navbar ul li {
    background-color:#C9E265;
    color: black;
    font-family: 'Gill Sans', 'Gi ll Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav ul li a {
    list-style: none;
    text-decoration: none;
    width: 100%;
    font-size: 20px;

}

#hiw {
    background-color: #C9E265;
    color: black;
    padding: 5px 16px;
    margin-top:10px;
    margin-left: 40px;

}

#hiw:hover {
    background-color: #a0ac70;
    color: white;
    padding: 5px 16px;
}

#access {
    background: #FDFAFA;
    box-shadow: 5px 5px #88888886;
    border-radius: 7px;
    padding: 5px 10px;
    margin-top:10px;
    margin-left: 10px;
}

#access:hover {
    background-color: #ecf5c7f9;
    color: black;
}

/* Footer Style */
footer {
    background-color:#C9E265;
    font-size: 1.1em;
    text-align: center;
    color: black;
}


 

