<!DOCTYPE html>
<html lang="en">
<head>

<!--   
   Account Profile of MeetUp Douglas
   Author: Jonnalyn Sule
   Date:   November 23, 2022
   
   Desktop Styles: 769px and greater
   -->

   <title>MeetUp Douglas EventPage</title>
     <!-- <link rel="icon" type="icon" th:href="@{images/mdicon.png}"> -->
     <link rel="icon" type="icon" href="mdicon.png">
     <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
     <meta name="viewport" content="width=device-width, initial-scale=1" />
     <!-- <link th:href="@{css/generalStyle2.css}" rel="stylesheet" />
     <link th:href="@{css/BaseLayout2.css}" rel="stylesheet" />
     <link th:href="@{css/formStyle.css}" rel="stylesheet" /> -->
     <link href="generalStyle2.css" rel="stylesheet" />
     <link href="BaseLayout2.css" rel="stylesheet" />
     <link href="formStyle.css" rel="stylesheet" />
     <link href="UserLoggedIn.css" rel="stylesheet" />
     <script src="jsFunctions.js"></script>
 </head>
 
 <body>
     <header>
         <nav class="navbar">
             <ul>
                 <!-- <li><a th:href="@{res/LoginPage.html}"><img th:src="@{images/mdLogo2.png}" alt="MeetUp Douglas"></a><li>
                 <li><a id="hiw" th:href="@{res/hiw.html}" style="margin-right: 500px">How it works</a></li>
                   -->
                 <li><a href="LoginPage.html"><img src="mdLogo2.png" alt="MeetUp Douglas"></a><li>
                 <li><a id="hiw" href="hiw.html" style="margin-right: 500px">How it works</a></li>
                     <li id="profile">
                         <!-- <img th:src="@{images/profilepic.png}"> -->
                         <img src="profilepic.png">
                         <i class="arrow down" onclick="myFunction()"></i>
                             <div class="dropdown">
                                 <div id="myDropdown" class="dropdown-content" >
                                     <a href="AccountProfile.html">Profile</a>
                                     <a href="GroupPage.html">Group</a>
                                     <a href="EventPage.html">Event</a>
                                     <a th:href="@{/logout}">Log out</a>
                                 </div>
                             </div>
                           </li>
             </ul>
         </nav>
     </header>
 
     <div class="mngProf"> 
        <h2>Manage your Profile</h2>
        <table>
            <tr>
                <td>User ID</td>
                <td>Fetch Username</td>
                <td colspan="2">
                    <form>
                        <div class="formRow">
                            <input name="userid" type="text" />
                        </div>
                    </form>
                </td>
            </tr>

            <tr>
                <td>Email Address</td>
                <td>Fetch Email</td>
                <td colspan="2">
                    <form>
                        <div class="formRow">
                            <input name="email" type="email"/>
                        </div>
                    </form>
                </td>
            </tr>
            <tr>
                <td>Password</td>
                <td>Fetch Password</td>
                <td colspan="2">
                    <form>
                        <div class="formRow">
                            <input name="password" type="password"/>
                        </div>
                    </form>
                </td>
            </tr>

            <tr>
                <td>Student ID</td>
                <td>Fetch Student ID</td>
                <td colspan="2">
                    <form>
                        <div class="formRow">
                            <input name="studentid" type="text"/>
                        </div>
                    </form>
                </td>
            </tr>
            
            <tr>
                <td>Mobile Number</td>
                <td>Fetch Mobile Number</td>
                <td colspan="2">
                    <form>
                        <div class="formRow">
                            <input name="mobilenum" type="text"/>
                        </div>
                    </form>
                </td>
            </tr>

            <tr>
                <td>Interests</td>
                <td>Fetch Interests</td>
                <td colspan="2">
                    <form>
                        <div class="formRow">
                            <textarea name="Interests" type="textarea"> </textarea>
                        </div>
                    </form>
                </td>
            </tr>
           
        </table>

    <div>
       <input id="updateBtn" type="submit" value="Update Changes on Profile" />
    </div>   
     
</div>
</body>

<footer>
    &#169; 2022 MeetUp Douglas &#9830; Website Development by Talk Dev Corp &#9830; Privacy Policy
</footer>

</html>