<!DOCTYPE html>
<html lang="en">
<head>

  <title>Create Group Page</title>
  <link rel="icon" type="icon" th:href="@{images/mdicon.png}">
  <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link th:href="@{/css/generalStyle1.css}" rel="stylesheet" />
  <link th:href="@{/css/BaseLayout1.css}" rel="stylesheet" />
  <link th:href="@{/css/formStyle.css}" rel="stylesheet" />
<!--  <link href="generalStyle2.css" rel="stylesheet" />-->
<!--  <link href="BaseLayout2.css" rel="stylesheet" />-->
<!--  <link href="formStyle.css" rel="stylesheet" />-->
</head>

<body>
  <header>
    <nav class="navbar">
      <ul>
        <li><a th:href="@{/}"><img th:src="@{/images/mdLogo2.png}" alt="MeetUp Douglas"></a><li>
        <li><a id="hiw" th:href="@{howitworks}" style="margin-right: 500px">How it works</a></li>

  <!--      <li><a href="LoginPage.html"><img src="mdLogo2.png" alt="MeetUp Douglas"></a><li>-->
  <!--      <li><a id="hiw" href="hiw.html}" style="margin-right: 500px">How it works</a></li>-->
      </ul>
    </nav>
  </header>
<div class="grppage">
  <form id="grppageform" th:action="@{/group/save}" th:object="${group}" method="post">
    <h2>Let's start creating your group</h2>
    <fieldset id="groupinfo">
      <div class="formRow">
        <label>Name your Group</label>
        <input name="name" id="name" type="string" required/>
      </div>
      <div class="formRow">
        <label>Describe your Group</label>
        <textarea name="description" id="description" type="text"  rows="8" cols="50" required></textarea>
      </div>

      <div id="buttons">
        <input  type="submit" value="Create Group" />
      </div>

    </fieldset>
  </form>
</div>
</body>

<footer style="position: absolute">
  &#169; 2022 MeetUp Douglas &#9830; Website Development by Talk Dev Corp &#9830; Privacy Policy
</footer>

</html>
