<!DOCTYPE html>
<html lang="en">
<head>

<!--   
   Event Page of MeetUp Douglas
   Author: Jonnalyn Sule
   Date:   November 06, 2022
   
   Desktop Styles: 769px and greater

   Filename: EventPage.html
   Disclaimer: No copyright intended. Downloaded pictures and articles in several resources. 
               Modified and rephrase article content for the purpose of showcasing Project requirements.
               No intention to publish this content. For any case, I will need to publish, I will put the proper
               content for the business.

   -->

   <title>MeetUp Douglas EventPage</title>
      <link rel="icon" type="icon" th:href="@{images/mdicon.png}">
<!--     <link rel="icon" type="icon" href="mdicon.png">-->
     <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
     <meta name="viewport" content="width=device-width, initial-scale=1" />
     <!-- <link th:href="@{css/generalStyle2.css}" rel="stylesheet" />
     <link th:href="@{css/BaseLayout2.css}" rel="stylesheet" />
     <link th:href="@{css/formStyle.css}" rel="stylesheet" /> -->
     <link href="generalStyle2.css" rel="stylesheet" />
     <link href="BaseLayout2.css" rel="stylesheet" />
     <link href="gridLayout4.css" rel="stylesheet" />
     <link th:href="UserLoggedIn.css" rel="stylesheet" />
     <script th:src="jsFunctions.js"></script>
 </head>
 
 <body>
     <header>
         <nav class="navbar">
             <ul>
                 <!-- <li><a th:href="@{res/LoginPage.html}"><img th:src="@{images/mdLogo2.png}" alt="MeetUp Douglas"></a><li>
                 <li><a id="hiw" th:href="@{res/hiw.html}" style="margin-right: 500px">How it works</a></li>
                   -->
                 <li><a href="LoginPage.html"><img src="mdLogo2.png" alt="MeetUp Douglas"></a><li>
                 <li><a id="hiw" href="hiw.html" style="margin-right: 500px">How it works</a></li>
                     <li id="profile">
                         <!-- <img th:src="@{images/profilepic.png}"> -->
                         <img src="profilepic.png">
                         <i class="arrow down" onclick="myFunction()"></i>
                             <div class="dropdown">
                                 <div id="myDropdown" class="dropdown-content" >
                                     <a href="#">Profile</a>
                                     <a href="#">Group</a>
                                     <a href="#">Event</a>
                                     <a th:href="@{/logout}">Log out</a>
                                 </div>
                             </div>
                           </li>
             </ul>
         </nav>
     </header>
 

     <div class="evtcontainer">
        <div class="evttitle">
            <h2>Make New Friends, Have Fun!</h2>
        <table>
            <tr>
                <td><img src="icon4.png"></td>
                <td><strong>FetchCountofParticipants</strong></td>
                <td>Participants</td>
            </tr>
            <tr>
                <td><img src="icon2.png"></td>
                <td>Organized by</td>
                <td><strong>FetchnameofHost</strong></td>
            </tr>
        </table> 
        <input id="joinBtn" type="submit" value="Join Event" />
        </div>
    
        <div class="evtdetails">
      
            <div class="toglBtn">
                <input type="radio" name="toglBtn" checked = "checked" />
                <label>Details</label>
                <div class="tab">
                    <p>
                        During the event you'll get to see all of the other participants.
                        We balance the conversations making sure there are plenty of different topics so everyone will have a great time!
                        We will play a lot of games that will surely get to know each other. The event host will then pair you off into smaller teams and you'll be playing as a team against the other groups. You're welcome to join with friends or sign up alone and we'll put you on a team. 
                        It's actually a fantastic way to meet new people and we've witnessed countless friendships sparked at this event. In fact, the host gives everyone the opportunity to swap contact info with other people in the group at the end of the night if they'd like to.
                    </p>
                </div>
    
                <input type="radio" name="toglBtn"/>
                <label>Comments</label>
                <div class="tab">
                    <p>Fetch from Database</p>
                </div>   
            </div>
        
        </div>
    
    
     
        <div class="evtprofpic"> 
            <img src="priscillaunsplash.jpg" alt="Event Profile Pic">
        </div>
        
        <div class="evtdet">
            <h2>Group</h2>
            <table>
                <tr>
                    <td><strong>FetchGroupName</strong></td>
                </tr>
            </table>
            <h2>Event Schedule</h2>

            <table>
                <tr>
                    <td><img src="icon4.png"></td>
                    <td><strong>FetchEventschedule</strong></td>
                </tr>
            </table>
        
        </div>
        
        </div>

</body>

<footer>
    &#169; 2022 MeetUp Douglas &#9830; Website Development by Talk Dev Corp &#9830; Privacy Policy
</footer>

</html>