<!DOCTYPE html>
<html lang="en">
<head>

    <!--
SignUp Page of MeetUp Douglas
Author: Jonnalyn Sule
Date:   November 06, 2022

Desktop Styles: 769px and greater

Filename: SignUpPage.html
Disclaimer: No copyright intended. Downloaded pictures and articles in several resources.
            Modified and rephrase article content for the purpose of showcasing Project requirements.
            No intention to publish this content. For any case, I will need to publish, I will put the proper
            content for the business.

-->

    <title>MeetUp Douglas SignUpPage</title>
    <link rel="icon" type="icon" th:href="@{images/mdicon.png}">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link th:href="@{css/generalStyle2.css}" rel="stylesheet" />
    <link th:href="@{css/BaseLayout2.css}" rel="stylesheet" />
    <link th:href="@{css/formStyle.css}" rel="stylesheet" />

    <script>
        function myFunction() {
            confirm("Confirmation link has been to your email.");
            location.href = "LoginPage.html";
        }
    </script>
</head>

<body>
<header>
    <nav class="navbar">
        <ul>
            <li><a href="LoginPage.html"><img src="mdLogo2.png" alt="MeetUp Douglas"></a><li>
            <li><a id="hiw" href="#" style="margin-right: 500px">How it works</a></li>
            <li><a id="access" href="LoginPage.html">Log in</a></li>
        </ul>

    </nav>
</header>
<div class="signupform">
    <form id="signupform" method="post" >
        <legend>
            <h2>Sign Up</h2>
        </legend>
        <fieldset id="custInfo">
            <div class="formRow">
                <label>User ID</label>
                <input name="userid" id="user" type="text" required/>
            </div>
            <div class="formRow">
                <label>Email Address</label>
                <input name="email" id="email" type="email" required/>
            </div>
            <div class="formRow">
                <label for="Password">Password</label>
                <input name="Password" id="password" type="password" required />
            </div>
            <div class="formRow">
                <label for="studentid">Student ID</label>
                <input name="studentid" id="studentid" type="text" required />
            </div>
            <div class="formRow">
                <label for="mobilenum">Mobile Number</label>
                <input name="mobilenum" id="mobilenum" type="text" required/>
            </div>

            <div class="formRow">
                <label for="info">Interests</label>
                <select name="infoSrc" id="info">
                    <option value="(Please select an option)">Freshies</option>
                    <option value="Games">Games and Entertainment</option>
                    <option value="Entrepreneurship">Entrepreneurship</option>
                    <option value="Fitness">Fitness and Wellness</option>
                    <option value="Social Media">Social Media</option>
                    <option value="Study Group">Study Group</option>
                    <option value="Arts">Arts and Crafts</option>
                    <option value="Music">Music</option>
                    <option value="Pets">Pets</option>
                    <option value="Adventure">Adventure and Travels</option>
                    <option value="Shopping">Shopping and Fashion</option>
                    <option value="Vehicles">Vehicles</option>
                    <option value="Others">Others</option>
                    <input name="othercategory" id="othercategory" type="text" placeholder="Others"  />
                </select>
            </div>

            <div id="buttons">
                <input  type="submit" value="Sign Up" onclick="myFunction()" />
            </div>

        </fieldset>
    </form>
</div>
</body>

<footer>
    &#169; 2022 MeetUp Douglas &#9830; Website Development by Talk Dev Corp &#9830; Privacy Policy
</footer>

</html>
